{% extends 'base.html' %}

{% block content %}
{{ super() }}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}"></div>
{% endfor %}


<form action="{{ url_for('add_post') }}" method="post">
    <p>Название курса:  <input type="text" name="name" required></p>
    <p>Цена курса: <input type="text" name="price" required></p>
    <p>Текст курса:</p>
    <p><textarea name="post" cols="40" rows="7"></textarea></p>
    <p><input type="submit" value="Добавить"></p>
</form>

{% endblock %}