<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="menu">
    <div class="wrap">
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'blogs' %}">История Кировской области</a></li>
            <li><a href="{% url 'guideuser' %}">Гид</a></li>
            <li class="top">Пользователь: {{ user.username }}</li>

            <li>
                <form action="{% url 'logoutuser' %}" method="post">
                    {% csrf_token %}
                    <button class="top">Выйти</button>
                </form>
            </li>

            {% else %}
        </ul>
        <div class="register wrap">
            <ul>
                <li><a href="{% url 'formauser' %}">Зарегистрироваться</a></li>
                <li><a href="{% url 'loginuser' %}">Войти</a></li>
                <li><a href="{% url 'personaluser' %}">Личный кабинет</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>


</body>
</html>



