<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="menu">
    <div class="wrap">
        <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'blogs' %}">История Кировской области</a></li>
        </ul>
    </div>

</div>
        <div class="count">
        <div class="rew">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>