<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="menu">
    <div class="wrap">
        <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'blogs' %}">История Кировской области</a></li>
            {% if user.is_authenticated %}
            <li>Пользователь: {{ user.username }}</li>
            <li>
                <form action="{% url 'logoutuser' %}" method="post">
                    {% csrf_token %}
                    <button class="top">Выйти</button>
                </form>
            </li>
            {% else %}
            <li><a href="{% url 'formauser' %}">Зарегистрироваться</a></li>
            <li><a href="{% url 'loginuser' %}">Войти</a></li>
            {% endif %}
        </ul>
    </div>
</div>

{% block content %}
{% endblock %}

</body>
</html>



